/*  your css code here. If applicable */
*{
	background-color:rgb(135, 206, 235);
/* 	margin:0;
	padding:0; */
}
.section1{
/* 	margin-inline:5px; */
}
.para1{
	background-color:black;
	color:white;
	margin-inline:5px;
}
.para2{
	color:black;
	line-height:30px;
}
.para3{
	color:red;
}
.list-item{
	background-color:gray;
	
}
li.list-item{
	width:50%;
	padding:10px;
} 
.white{
	background-color:white;
	font-size:22px;
}
.third{
	background-color:pink;
}